div, main
    background: #ddd

    p
        color: lightblue
// Como o css é em cascata, a hierárquia é de baixo para cima 
// Vai prevalecer o p red
main
    .p-vermelho
        color: red 
    p
        color: green

// Nesting com combinators

li
    color: purple

ol
    > li  //Combinando o Nesting com o Seletor de descendência ">" - Todos os filhos "li" de "ol" vão ter cor azul
        color: blue

// Parent Selector

a
    text-decoration: none
    color: green
    transform: .5s
    padding: 10px
    border: 1px solid green
    display: block
    width: 150px
    text-align: center

    &:hover // & - parent selector
        background-color: green
        color: white

.container
    background-color: #ccc
    padding: 20px
    margin: 20px

    &-content // & - serve também para replicar a classe -> em CSS seria .container-content
        color: red

// Parente selector com sufixo 

.btn
    padding: 10px 20px
    border: 1px solid blue
    border-radius: 10px
    color: #fff
    background-color: blue
    cursor: pointer
    margin: 5px

    &:hover
        background-color: transparent
        color: blue

    &-success
        background-color: green
        border-color: green

        &:hover
            color: green

    &-danger
        background-color: red
        border-color: red

        &:hover
            color: red

// Placeholder selector
// sintaxe -> % mais o nome do placeholder

%estilo-titulo-base  // tanto o title como o sub-title vão usar essas regras
    border-bottom: 2px dotted red
    padding: 10px
    background-color: yellow
    text-align: center
        
.title
    font-size: 30px
    color: green
    @extend %estilo-titulo-base

.sub-title
    font-size: 25px
    color: blue
    @extend %estilo-titulo-base